body {
  margin: 0px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 0px;
  font-size: 2.5rem;
}

p{
  line-height: 1.5;
  margin-top: 32px;
  margin-bottom: 32px;
}

.section-img {
  margin-top: 0px;
  background: url(bg-img.jpg) no-repeat;
  background-size: cover;
  /* cover whole cover with img*/
  height: 100vh;
  /*vh -> view port means equal to desktop screen*/
  position: relative;
  font-weight: 300;
}

.section-wrapper {
  color: white;
  position: absolute;
  bottom: 186px;
  background-color: rgb(204, 0, 0, 0.8);
  width:100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.form button{
  background-color: #404040;
  margin-top: 20px;
  padding: 8px;
  border-radius: 2rem;
  border: none;
}

.input{
  margin: 10px auto 10px auto;
  width: 30%;
  display: block;
  border-radius: 2rem;
  padding: .6rem;
  border: none;
}
.img1{
  
}
.img2{

}
.burger{
  width:1248px;
  height: 650px;
}
